/* .popup-box{
     display: flex;
    justify-content: space-evenly; 
   
} */


.popup{
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    margin: 20px;
    width: 40%;
    box-shadow: 1.5px 1.5px 6px 0px;
    position: absolute;
    top: 10%;
    left: 30%;
   
}
    
.input_container{
   
    gap: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    /* display: flex;
    justify-content: center; */
}
.component{
    gap: 10px;
}

.input-group{
    position: relative;
    display: grid;
    gap:6px;

    
    /* width: 80%; */
}
/* .h1pop{
    color: #0da2ff;
} */
.input{
    padding: 10px;
    border-radius: 5px;
    outline: none;
    color: #000101;
    border: 1px solid #070707;
    box-shadow: 0px 1px 2px 0px;
    width: 90%;
    /* #0da2ff */
    

}

.popup-title{
    display: flex;
    justify-content: space-between;
    width:50px
}


.formpopup{
    background-color: aliceblue;
    /* display: flex;
    justify-content: center; */
    padding: 20px;
    
}
.popup-title{
    padding-left: 20px;
}
.form-bottom{
    padding-top: 5px;
    display:flex ;
    gap: 15px;
}
.cancle{
    position:absolute;top: 22px;
    left:74%;
}.svg{
    width:16px;
    size:a3;
}
.btnaddnew{
    background-color: aliceblue;
    color:orangered ;
}
.amenity{
    display: grid;
    gap:20px;
    width: 40%;
    font-size: small;
   
}
.roundlabel{
    display: flex;
    justify-content: space-between;
}
.detailsamty{
    display: grid;
    gap: 20px;
    background-color: rgb(255, 255, 255);
    padding:10px;
}
.amty{
    display:flex;
    justify-content: space-between;
}
.h1pop{
    display: flex;
    justify-content: space-between;
}